body
{ 
	overflow:hidden;
}
.e19_38 { 
	background-color:rgba(42.000001296401024, 151.00000619888306, 186.0000041127205, 1);
	width:1440px;
	height:2237px;
	position:absolute;
}
.e19_40 { 
	width:671px;
	height:254px;
	position:absolute;
	left:384px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_41 { 
	background-color:rgba(6.000000117346644, 122.00000032782555, 11.000000294297934, 1);
	width:1500px;
	height:71px;
	position:absolute;
	left:0px;
	top:294px;
}
.e19_42 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:52px;
	position:absolute;
	left:108px;
	top:303px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e19_43 { 
	color:rgba(255, 255, 255, 1);
	width:232px;
	height:55px;
	position:absolute;
	left:440px;
	top:303px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e19_44 { 
	color:rgba(255, 255, 255, 1);
	width:239px;
	height:153px;
	position:absolute;
	left:784px;
	top:257px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e19_48 { 
	color:rgba(255, 255, 255, 1);
	width:240px;
	height:51px;
	position:absolute;
	left:1170px;
	top:305px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e19_58 { 
	width:1055px;
	height:586px;
	position:absolute;
	left:192px;
	top:453px;
	background-image:url(images/londres_big_ben_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_59 { 
	color:rgba(0, 0, 0, 1);
	width:1118px;
	height:428px;
	position:absolute;
	left:129px;
	top:1162px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e19_79 { 
	background-color:rgba(6.000000117346644, 122.00000032782555, 11.000000294297934, 1);
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:2110px;
}
